spring:
  application:
    name: boottest
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/vw?characterEncoding=UTF-8&useSSL=false
    username: root
    password: root
    druid:
      initial-size: 5
      min-idle: 5
      max-active: 20
      max-wait: 60000
      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      filters: slf4j,stat,wall
      filter:
        slf4j:
          enabled: true
      aop-patterns: com.example.boottest.dao.*
  servlet:
    multipart:
      max-file-size: 30MB
      max-request-size: 50MB
  redis:
    jedis:
      pool:
        max-active: 2000
        max-idle: 500
        min-idle: 50
        max-wait: 100000ms
    timeout: 3000ms
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: myGroup
mybatis:
  type-aliases-package: com.example.boottest.entity
  config-location: classpath:mybatis/mybatis-config.xml
  mapper-locations: classpath:mybatis/mapper/*.xml
logging:
  file: /Users/yibo/Logs/boottest.log
  level:
    root: info
    com.example.boottest.dao: debug