<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
    <classPathEntry
            location="C:\\Users\\Yibo\\.m2\\repository\\mysql\\mysql-connector-java\\5.1.44\\mysql-connector-java-5.1.44.jar"/>
    <context id="testTables" targetRuntime="MyBatis3">
        <!-- JavaBean 实现 序列化 接口 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <!-- genenat entity时,生成toString -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <!-- 开启支持内存分页   可生成 支持内存分布的方法及参数  
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" />
        -->
        <!-- generate entity时，生成hashcode和equals方法
		<plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin" />
		 -->
        <!-- 此处是将Example改名为Query 当然 想改成什么都行~    -->
        <!--<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="Example$"/>
            &lt;!&ndash; 替换后
            <property name="replaceString" value="Criteria" />  
             &ndash;&gt;
            <property name="replaceString" value="Query"/>
        </plugin>-->

        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/vw?useSSL=false" userId="root"
                        password="root">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <javaModelGenerator targetPackage="com.example.boottest.entity"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <sqlMapGenerator targetPackage="main/resources/mybatis/mapper"
                         targetProject="src">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.example.boottest.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>
        <table tableName="brand"/>
        <table tableName="check_detail_result"/>
        <table tableName="check_item_result"/>
        <table tableName="comp_result"/>
        <table tableName="dealer"/>
        <table tableName="dealer_region"/>
        <table tableName="mission"/>
        <table tableName="mission_schedual"/>
        <table tableName="sys_code"/>
        <table tableName="sys_code_detail"/>
        <table tableName="sys_permission"/>
        <table tableName="sys_role"/>
        <table tableName="sys_role_permission"/>
        <table tableName="sys_seq"/>
        <table tableName="sys_user"/>
        <table tableName="sys_user_brand"/>
        <table tableName="sys_user_role"/>
        <table tableName="template"/>
        <table tableName="template_content"/>
        <table tableName="template_content_detail"/>
        <table tableName="template_content_involve"/>
        <table tableName="template_skoda"/>
    </context>
</generatorConfiguration>