<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boottest.dao.CheckItemResultMapper">
  <resultMap id="BaseResultMap" type="com.example.boottest.entity.CheckItemResult">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="schedual_id" jdbcType="BIGINT" property="schedualId" />
    <result column="template_content_id" jdbcType="BIGINT" property="templateContentId" />
    <result column="is_involve" jdbcType="TINYINT" property="isInvolve" />
    <result column="check_result" jdbcType="TINYINT" property="checkResult" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="first_app_sug" jdbcType="VARCHAR" property="firstAppSug" />
    <result column="second_app_sug" jdbcType="VARCHAR" property="secondAppSug" />
    <result column="platform_app_sug" jdbcType="VARCHAR" property="platformAppSug" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="is_no_check" jdbcType="TINYINT" property="isNoCheck" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="dealer_comp" jdbcType="VARCHAR" property="dealerComp" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_user" jdbcType="VARCHAR" property="lastUpdateUser" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, schedual_id, template_content_id, is_involve, check_result, img_url, first_app_sug, 
    second_app_sug, platform_app_sug, score, is_no_check, description, dealer_comp, status, 
    create_user, create_time, last_update_user, last_update_time
  </sql>
  <select id="selectByExample" parameterType="com.example.boottest.entity.CheckItemResultExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from check_item_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from check_item_result
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from check_item_result
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.boottest.entity.CheckItemResultExample">
    delete from check_item_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.boottest.entity.CheckItemResult">
    insert into check_item_result (id, schedual_id, template_content_id, 
      is_involve, check_result, img_url, 
      first_app_sug, second_app_sug, platform_app_sug, 
      score, is_no_check, description, 
      dealer_comp, status, create_user, 
      create_time, last_update_user, last_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{schedualId,jdbcType=BIGINT}, #{templateContentId,jdbcType=BIGINT}, 
      #{isInvolve,jdbcType=TINYINT}, #{checkResult,jdbcType=TINYINT}, #{imgUrl,jdbcType=VARCHAR}, 
      #{firstAppSug,jdbcType=VARCHAR}, #{secondAppSug,jdbcType=VARCHAR}, #{platformAppSug,jdbcType=VARCHAR}, 
      #{score,jdbcType=DECIMAL}, #{isNoCheck,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR}, 
      #{dealerComp,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.boottest.entity.CheckItemResult">
    insert into check_item_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schedualId != null">
        schedual_id,
      </if>
      <if test="templateContentId != null">
        template_content_id,
      </if>
      <if test="isInvolve != null">
        is_involve,
      </if>
      <if test="checkResult != null">
        check_result,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="firstAppSug != null">
        first_app_sug,
      </if>
      <if test="secondAppSug != null">
        second_app_sug,
      </if>
      <if test="platformAppSug != null">
        platform_app_sug,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="isNoCheck != null">
        is_no_check,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="dealerComp != null">
        dealer_comp,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateUser != null">
        last_update_user,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="schedualId != null">
        #{schedualId,jdbcType=BIGINT},
      </if>
      <if test="templateContentId != null">
        #{templateContentId,jdbcType=BIGINT},
      </if>
      <if test="isInvolve != null">
        #{isInvolve,jdbcType=TINYINT},
      </if>
      <if test="checkResult != null">
        #{checkResult,jdbcType=TINYINT},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="firstAppSug != null">
        #{firstAppSug,jdbcType=VARCHAR},
      </if>
      <if test="secondAppSug != null">
        #{secondAppSug,jdbcType=VARCHAR},
      </if>
      <if test="platformAppSug != null">
        #{platformAppSug,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="isNoCheck != null">
        #{isNoCheck,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="dealerComp != null">
        #{dealerComp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null">
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.boottest.entity.CheckItemResultExample" resultType="java.lang.Long">
    select count(*) from check_item_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update check_item_result
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.schedualId != null">
        schedual_id = #{record.schedualId,jdbcType=BIGINT},
      </if>
      <if test="record.templateContentId != null">
        template_content_id = #{record.templateContentId,jdbcType=BIGINT},
      </if>
      <if test="record.isInvolve != null">
        is_involve = #{record.isInvolve,jdbcType=TINYINT},
      </if>
      <if test="record.checkResult != null">
        check_result = #{record.checkResult,jdbcType=TINYINT},
      </if>
      <if test="record.imgUrl != null">
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.firstAppSug != null">
        first_app_sug = #{record.firstAppSug,jdbcType=VARCHAR},
      </if>
      <if test="record.secondAppSug != null">
        second_app_sug = #{record.secondAppSug,jdbcType=VARCHAR},
      </if>
      <if test="record.platformAppSug != null">
        platform_app_sug = #{record.platformAppSug,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=DECIMAL},
      </if>
      <if test="record.isNoCheck != null">
        is_no_check = #{record.isNoCheck,jdbcType=TINYINT},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.dealerComp != null">
        dealer_comp = #{record.dealerComp,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateUser != null">
        last_update_user = #{record.lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null">
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update check_item_result
    set id = #{record.id,jdbcType=BIGINT},
      schedual_id = #{record.schedualId,jdbcType=BIGINT},
      template_content_id = #{record.templateContentId,jdbcType=BIGINT},
      is_involve = #{record.isInvolve,jdbcType=TINYINT},
      check_result = #{record.checkResult,jdbcType=TINYINT},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      first_app_sug = #{record.firstAppSug,jdbcType=VARCHAR},
      second_app_sug = #{record.secondAppSug,jdbcType=VARCHAR},
      platform_app_sug = #{record.platformAppSug,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=DECIMAL},
      is_no_check = #{record.isNoCheck,jdbcType=TINYINT},
      description = #{record.description,jdbcType=VARCHAR},
      dealer_comp = #{record.dealerComp,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_update_user = #{record.lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.boottest.entity.CheckItemResult">
    update check_item_result
    <set>
      <if test="schedualId != null">
        schedual_id = #{schedualId,jdbcType=BIGINT},
      </if>
      <if test="templateContentId != null">
        template_content_id = #{templateContentId,jdbcType=BIGINT},
      </if>
      <if test="isInvolve != null">
        is_involve = #{isInvolve,jdbcType=TINYINT},
      </if>
      <if test="checkResult != null">
        check_result = #{checkResult,jdbcType=TINYINT},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="firstAppSug != null">
        first_app_sug = #{firstAppSug,jdbcType=VARCHAR},
      </if>
      <if test="secondAppSug != null">
        second_app_sug = #{secondAppSug,jdbcType=VARCHAR},
      </if>
      <if test="platformAppSug != null">
        platform_app_sug = #{platformAppSug,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="isNoCheck != null">
        is_no_check = #{isNoCheck,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="dealerComp != null">
        dealer_comp = #{dealerComp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null">
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.boottest.entity.CheckItemResult">
    update check_item_result
    set schedual_id = #{schedualId,jdbcType=BIGINT},
      template_content_id = #{templateContentId,jdbcType=BIGINT},
      is_involve = #{isInvolve,jdbcType=TINYINT},
      check_result = #{checkResult,jdbcType=TINYINT},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      first_app_sug = #{firstAppSug,jdbcType=VARCHAR},
      second_app_sug = #{secondAppSug,jdbcType=VARCHAR},
      platform_app_sug = #{platformAppSug,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      is_no_check = #{isNoCheck,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      dealer_comp = #{dealerComp,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.example.boottest.entity.CheckItemResult">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="schedual_id" jdbcType="BIGINT" property="schedualId" />
    <result column="template_content_id" jdbcType="BIGINT" property="templateContentId" />
    <result column="is_involve" jdbcType="TINYINT" property="isInvolve" />
    <result column="check_result" jdbcType="TINYINT" property="checkResult" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="first_app_sug" jdbcType="VARCHAR" property="firstAppSug" />
    <result column="second_app_sug" jdbcType="VARCHAR" property="secondAppSug" />
    <result column="platform_app_sug" jdbcType="VARCHAR" property="platformAppSug" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="is_no_check" jdbcType="TINYINT" property="isNoCheck" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="dealer_comp" jdbcType="VARCHAR" property="dealerComp" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_user" jdbcType="VARCHAR" property="lastUpdateUser" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, schedual_id, template_content_id, is_involve, check_result, img_url, first_app_sug, 
    second_app_sug, platform_app_sug, score, is_no_check, description, dealer_comp, status, 
    create_user, create_time, last_update_user, last_update_time
  </sql>
  <select id="selectByExample" parameterType="com.example.boottest.entity.CheckItemResultQuery" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from check_item_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from check_item_result
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from check_item_result
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.boottest.entity.CheckItemResultQuery">
    delete from check_item_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.boottest.entity.CheckItemResult">
    insert into check_item_result (id, schedual_id, template_content_id, 
      is_involve, check_result, img_url, 
      first_app_sug, second_app_sug, platform_app_sug, 
      score, is_no_check, description, 
      dealer_comp, status, create_user, 
      create_time, last_update_user, last_update_time
      )
    values (#{id,jdbcType=BIGINT}, #{schedualId,jdbcType=BIGINT}, #{templateContentId,jdbcType=BIGINT}, 
      #{isInvolve,jdbcType=TINYINT}, #{checkResult,jdbcType=TINYINT}, #{imgUrl,jdbcType=VARCHAR}, 
      #{firstAppSug,jdbcType=VARCHAR}, #{secondAppSug,jdbcType=VARCHAR}, #{platformAppSug,jdbcType=VARCHAR}, 
      #{score,jdbcType=DECIMAL}, #{isNoCheck,jdbcType=TINYINT}, #{description,jdbcType=VARCHAR}, 
      #{dealerComp,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.boottest.entity.CheckItemResult">
    insert into check_item_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schedualId != null">
        schedual_id,
      </if>
      <if test="templateContentId != null">
        template_content_id,
      </if>
      <if test="isInvolve != null">
        is_involve,
      </if>
      <if test="checkResult != null">
        check_result,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="firstAppSug != null">
        first_app_sug,
      </if>
      <if test="secondAppSug != null">
        second_app_sug,
      </if>
      <if test="platformAppSug != null">
        platform_app_sug,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="isNoCheck != null">
        is_no_check,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="dealerComp != null">
        dealer_comp,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateUser != null">
        last_update_user,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="schedualId != null">
        #{schedualId,jdbcType=BIGINT},
      </if>
      <if test="templateContentId != null">
        #{templateContentId,jdbcType=BIGINT},
      </if>
      <if test="isInvolve != null">
        #{isInvolve,jdbcType=TINYINT},
      </if>
      <if test="checkResult != null">
        #{checkResult,jdbcType=TINYINT},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="firstAppSug != null">
        #{firstAppSug,jdbcType=VARCHAR},
      </if>
      <if test="secondAppSug != null">
        #{secondAppSug,jdbcType=VARCHAR},
      </if>
      <if test="platformAppSug != null">
        #{platformAppSug,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="isNoCheck != null">
        #{isNoCheck,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="dealerComp != null">
        #{dealerComp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null">
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.boottest.entity.CheckItemResultQuery" resultType="java.lang.Long">
    select count(*) from check_item_result
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update check_item_result
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.schedualId != null">
        schedual_id = #{record.schedualId,jdbcType=BIGINT},
      </if>
      <if test="record.templateContentId != null">
        template_content_id = #{record.templateContentId,jdbcType=BIGINT},
      </if>
      <if test="record.isInvolve != null">
        is_involve = #{record.isInvolve,jdbcType=TINYINT},
      </if>
      <if test="record.checkResult != null">
        check_result = #{record.checkResult,jdbcType=TINYINT},
      </if>
      <if test="record.imgUrl != null">
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.firstAppSug != null">
        first_app_sug = #{record.firstAppSug,jdbcType=VARCHAR},
      </if>
      <if test="record.secondAppSug != null">
        second_app_sug = #{record.secondAppSug,jdbcType=VARCHAR},
      </if>
      <if test="record.platformAppSug != null">
        platform_app_sug = #{record.platformAppSug,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=DECIMAL},
      </if>
      <if test="record.isNoCheck != null">
        is_no_check = #{record.isNoCheck,jdbcType=TINYINT},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.dealerComp != null">
        dealer_comp = #{record.dealerComp,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createUser != null">
        create_user = #{record.createUser,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateUser != null">
        last_update_user = #{record.lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="record.lastUpdateTime != null">
        last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update check_item_result
    set id = #{record.id,jdbcType=BIGINT},
      schedual_id = #{record.schedualId,jdbcType=BIGINT},
      template_content_id = #{record.templateContentId,jdbcType=BIGINT},
      is_involve = #{record.isInvolve,jdbcType=TINYINT},
      check_result = #{record.checkResult,jdbcType=TINYINT},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      first_app_sug = #{record.firstAppSug,jdbcType=VARCHAR},
      second_app_sug = #{record.secondAppSug,jdbcType=VARCHAR},
      platform_app_sug = #{record.platformAppSug,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=DECIMAL},
      is_no_check = #{record.isNoCheck,jdbcType=TINYINT},
      description = #{record.description,jdbcType=VARCHAR},
      dealer_comp = #{record.dealerComp,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      create_user = #{record.createUser,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_update_user = #{record.lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{record.lastUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.boottest.entity.CheckItemResult">
    update check_item_result
    <set>
      <if test="schedualId != null">
        schedual_id = #{schedualId,jdbcType=BIGINT},
      </if>
      <if test="templateContentId != null">
        template_content_id = #{templateContentId,jdbcType=BIGINT},
      </if>
      <if test="isInvolve != null">
        is_involve = #{isInvolve,jdbcType=TINYINT},
      </if>
      <if test="checkResult != null">
        check_result = #{checkResult,jdbcType=TINYINT},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="firstAppSug != null">
        first_app_sug = #{firstAppSug,jdbcType=VARCHAR},
      </if>
      <if test="secondAppSug != null">
        second_app_sug = #{secondAppSug,jdbcType=VARCHAR},
      </if>
      <if test="platformAppSug != null">
        platform_app_sug = #{platformAppSug,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="isNoCheck != null">
        is_no_check = #{isNoCheck,jdbcType=TINYINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="dealerComp != null">
        dealer_comp = #{dealerComp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null">
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.boottest.entity.CheckItemResult">
    update check_item_result
    set schedual_id = #{schedualId,jdbcType=BIGINT},
      template_content_id = #{templateContentId,jdbcType=BIGINT},
      is_involve = #{isInvolve,jdbcType=TINYINT},
      check_result = #{checkResult,jdbcType=TINYINT},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      first_app_sug = #{firstAppSug,jdbcType=VARCHAR},
      second_app_sug = #{secondAppSug,jdbcType=VARCHAR},
      platform_app_sug = #{platformAppSug,jdbcType=VARCHAR},
      score = #{score,jdbcType=DECIMAL},
      is_no_check = #{isNoCheck,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      dealer_comp = #{dealerComp,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>