<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boottest.dao.CheckDetailResultDao">
  <resultMap id="BaseResultMap" type="com.example.boottest.entity.CheckDetailResult">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="schedual_id" jdbcType="BIGINT" property="schedualId" />
    <result column="template_content_detail_id" jdbcType="BIGINT" property="templateContentDetailId" />
    <result column="check_result" jdbcType="TINYINT" property="checkResult" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="dealer_comp" jdbcType="VARCHAR" property="dealerComp" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_user" jdbcType="VARCHAR" property="lastUpdateUser" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, schedual_id, template_content_detail_id, check_result, score, img_url, dealer_comp, 
    description, status, create_user, create_time, last_update_user, last_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from check_detail_result
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from check_detail_result
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.boottest.entity.CheckDetailResult">
    insert into check_detail_result (id, schedual_id, template_content_detail_id, 
      check_result, score, img_url, 
      dealer_comp, description, status, 
      create_user, create_time, last_update_user, 
      last_update_time)
    values (#{id,jdbcType=BIGINT}, #{schedualId,jdbcType=BIGINT}, #{templateContentDetailId,jdbcType=BIGINT}, 
      #{checkResult,jdbcType=TINYINT}, #{score,jdbcType=DECIMAL}, #{imgUrl,jdbcType=VARCHAR}, 
      #{dealerComp,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, 
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateUser,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.boottest.entity.CheckDetailResult">
    insert into check_detail_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="schedualId != null">
        schedual_id,
      </if>
      <if test="templateContentDetailId != null">
        template_content_detail_id,
      </if>
      <if test="checkResult != null">
        check_result,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="dealerComp != null">
        dealer_comp,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateUser != null">
        last_update_user,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="schedualId != null">
        #{schedualId,jdbcType=BIGINT},
      </if>
      <if test="templateContentDetailId != null">
        #{templateContentDetailId,jdbcType=BIGINT},
      </if>
      <if test="checkResult != null">
        #{checkResult,jdbcType=TINYINT},
      </if>
      <if test="score != null">
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="dealerComp != null">
        #{dealerComp,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null">
        #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.boottest.entity.CheckDetailResult">
    update check_detail_result
    <set>
      <if test="schedualId != null">
        schedual_id = #{schedualId,jdbcType=BIGINT},
      </if>
      <if test="templateContentDetailId != null">
        template_content_detail_id = #{templateContentDetailId,jdbcType=BIGINT},
      </if>
      <if test="checkResult != null">
        check_result = #{checkResult,jdbcType=TINYINT},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=DECIMAL},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="dealerComp != null">
        dealer_comp = #{dealerComp,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUser != null">
        last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.boottest.entity.CheckDetailResult">
    update check_detail_result
    set schedual_id = #{schedualId,jdbcType=BIGINT},
      template_content_detail_id = #{templateContentDetailId,jdbcType=BIGINT},
      check_result = #{checkResult,jdbcType=TINYINT},
      score = #{score,jdbcType=DECIMAL},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      dealer_comp = #{dealerComp,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_user = #{lastUpdateUser,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>