<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boottest.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.example.boottest.entity.Department">
    <result column="Id" jdbcType="TINYINT" property="id" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="CHAR" property="sex" />
  </resultMap>
  <insert id="insert" parameterType="com.example.boottest.entity.Department">
    insert into Department (Id, Name, sex)
    values (#{id,jdbcType=TINYINT}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.boottest.entity.Department">
    insert into Department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="sex != null">
        sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=TINYINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=CHAR},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.example.boottest.entity.Department">
    update Department set name = #{name} where id = #{id}
  </update>


  <select id="selectDepartment" parameterType="ArrayList" resultType="com.example.boottest.entity.Department">
    select * from Department where
     id in
    <foreach collection="idList" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>
</mapper>